.p-work-detail {
  &__content {
    &__header {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        box-shadow: 0 0 0.8rem #ddd;
      }
      span {
        display: block;
        padding: 1.5rem 0;
        width: 100%;
        text-align: right;
      }
    }

    &__body {
      h2 {
        font-size: 3.6rem;
        border-bottom: solid 3px black;
        margin-top: 5rem;
        margin-bottom: 3rem;
      }

      h3 {
        font-size: 2rem;
        padding: 0.25rem 0.5rem; /*上下 左右の余白*/
        border-left: solid 0.5rem $color-primary; /*左線*/
        margin: 2rem 0;
      }

      ul,
      ol {
        padding: 3rem; /*ボックス内の余白*/
        border: solid 3px $color-primary; /*線の種類 太さ 色*/
      }

      ul li,
      ol li {
        list-style-type: disc;
        list-style-position: inside;
        line-height: 1.5;
        padding: 0.5rem 0;
      }
    }
  }

  &__latest {
    $this: &;
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1.33%;
      row-gap: 2rem;
      li {
        width: 32%;
        aspect-ratio: 3/2;
        position: relative;
        box-shadow: 0.5rem 0.5rem 0.8rem #ddd;

        @include sp {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        #{$this}__detail {
          opacity: 0;
          transition: all 0.3s;

          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.8);
          padding: 3rem;

          @include sp {
            position: static;
            height: auto;
            background-color: unset;
            padding: 1rem 2rem;
            opacity: 1;
          }
          &:hover {
            opacity: 1;
            transform: scale(90%);
          }
          h3 {
            color: white;

            @include sp {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
