.l-header {
  width: 100%;
  height: 8rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  z-index: 99;
  &__logo {
    &-img {
      height: 8rem;
      width: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    &__list {
      display: flex;
      gap: 2rem;
      &__item {
        display: flex;
        align-items: center;
        transition: all 0.5s;
        &::before {
          display: inline-block;
          content: "";
          width: 2rem;
          height: 2rem;
          background-color: $color-primary;
          border-radius: 999rem;
          margin-right: 1rem;
        }

        &:hover {
          transform: scale(105%);
        }
        &-link {
        }
      }
    }
  }
}
